<div x-init="">

  <button class="btn btn-outline" @click.prevent="
  $el.nextElementSibling.showModal()
  $dispatch('event-get-user_perms')
">
    {m:main.permissions.modify}
  </button>

  <dialog class="modal modal-bottom sm:modal-middle">
    <div class="modal-box min-w-1/2 min-h-3/4">
      <div class="flex flex-col gap-2">
        <div class="flex flex-row justify-around gap-2 text-center">
          <h2>{m:main.permissions.modify}</h2>
          <div class="mt-0 modal-action">
            <form method="dialog">
              <button class="btn btn-circle btn-outline btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>
              </button>
            </form>
          </div>
        </div>
        <form id="permission-form"
              class="m-auto flex w-full flex-col gap-4"
              hx-put="{uri:PermissionController.upsert}"
              hx-disabled-elt="this, #permission-form * > input:not([disabled]), #permission-form * > button:not([disabled]), #permission-form * > select:not([disabled])"
              hx-indicator=".htmx-indicator"
              hx-target="#permission-form-error"
              hx-swap="innerHTML"
              x-data="{
      user_selected: '',
      user_permission: []
      }"

              x-init="$watch('user_selected', (value) => {
            if (value && value.length > 0) {
              sendEvent('user_perms', 'user_perms')
             }
          })">

          {#include fragments/csrf /}

          <div x-data="{
        allOptions: [

{#each users}
  {
    value: '{it.id}',
    label: '{it.username} {it.email}',
    picture: '{it.picture}'
  }
  {#if it_hasNext}, {/if}
  {/each}
        ],
        options: [],
        isOpen: false,
        openedWithKeyboard: false,
        selectedOption: null,
        getUserPerms() {
            if (user_selected !== '') {
              sendEvent('user_perms', 'user_perms')
            }
        },
        setSelectedOption(option) {
            this.selectedOption = option
            this.isOpen = false
            this.openedWithKeyboard = false
            user_selected = option.value
        },
        getFilteredOptions(query) {
            this.options = this.allOptions.filter((option) =>
                option.label.toLowerCase().includes(query.toLowerCase()),
            )
            if (this.options.length === 0) {
                this.$refs.noResultsMessage.classList.remove('hidden')
            } else {
                this.$refs.noResultsMessage.classList.add('hidden')
            }
        },
        handleKeydownOnOptions(event) {
            // if the user presses backspace or the alpha-numeric keys, focus on the search field
            if ((event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode === 8) {
                this.$refs.searchField.focus()
            }
        }

    }"
               @event-get-user_perms.window="getUserPerms()"
               class="flex w-full flex-col gap-1" x-on:keydown="handleKeydownOnOptions($event)"
               x-on:keydown.esc.window="isOpen = false, openedWithKeyboard = false" x-init="options = allOptions">
            <label for="user_perm_select" class="w-fit text-sm text-neutral-600 pl-0.5 dark:text-neutral-300">
              <h2>{m:main.permissions.modify}</h2>
            </label>
            <div class="relative">

              <!-- trigger button  -->
              <button type="button"
                      class="inline-flex w-full items-center justify-between gap-2 rounded-md border border-neutral-300 bg-neutral-50 px-4 py-2 text-sm font-medium tracking-wide text-neutral-600 transition hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black dark:border-neutral-700 dark:bg-neutral-900/50 dark:text-neutral-300 dark:focus-visible:outline-white"
                      role="combobox" aria-controls="makesList" aria-haspopup="listbox" x-on:click="isOpen = ! isOpen"
                      x-on:keydown.down.prevent="openedWithKeyboard = true"
                      x-on:keydown.enter.prevent="openedWithKeyboard = true"
                      x-on:keydown.space.prevent="openedWithKeyboard = true"
                      x-bind:aria-expanded="isOpen || openedWithKeyboard"
                      x-bind:aria-label="selectedOption ? selectedOption.label : '{m:main.action.select.user}'">
                <span class="text-sm font-normal"
                      x-text="selectedOption ? selectedOption.label : '{m:main.action.select.user}'"></span>
                <!-- Chevron  -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5"
                     aria-hidden="true">
                  <path fill-rule="evenodd"
                        d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                        clip-rule="evenodd"/>
                </svg>
              </button>

              <!-- Hidden Input To Grab The Selected Value  -->
              <input id="user_perm_select"
                     name="user_perm_select"
                     hidden=""
                     x-model="user_selected"/>

              <script>
                document.currentScript.parentElement.addEventListener("change", (event) => {
                  console.log(event);
                });
              </script>

              <div x-show="isOpen || openedWithKeyboard" id="makesList"
                   class="absolute top-11 left-0 z-10 w-full overflow-hidden rounded-md border border-neutral-300 bg-neutral-50 dark:border-neutral-700 dark:bg-neutral-900"
                   role="listbox" aria-label="industries list"
                   x-on:click.outside="isOpen = false, openedWithKeyboard = false"
                   x-on:keydown.down.prevent="$focus.wrap().next()"
                   x-on:keydown.up.prevent="$focus.wrap().previous()"
                   x-transition x-trap="openedWithKeyboard">

                <!-- Search  -->
                <div class="relative">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                       stroke-width="1.5"
                       class="absolute top-1/2 left-4 -translate-y-1/2 text-neutral-600/50 size-5 dark:text-neutral-300/50"
                       aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                  </svg>
                  <input type="text"
                         class="w-full border-b bg-neutral-50 pr-4 pl-11 text-sm text-neutral-600 borderneutral-300 py-2.5 focus:outline-hidden focus-visible:border-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-300 dark:focus-visible:border-white"
                         name="searchField" aria-label="Search"
                         x-on:input="getFilteredOptions($el.value)"
                         x-ref="searchField" placeholder="{m:main.description.search}"/>
                </div>

                <!-- Options  -->
                <ul class="flex flex-col overflow-y-auto max-h-9/10">
                  <li class="hidden px-4 py-2 text-sm text-neutral-600 dark:text-neutral-300" x-ref="noResultsMessage">
                    <span>{m:main.description.no.matches.found}</span>
                  </li>
                  <template x-for="(item, index) in options" x-bind:key="item.value">
                    <li class="inline-flex cursor-pointer justify-between gap-6 bg-neutral-50 px-4 py-2 text-sm text-neutral-600 combobox-option hover:bg-neutral-900/5 hover:text-neutral-900 focus-visible:bg-neutral-900/5 focus-visible:text-neutral-900 focus-visible:outline-hidden dark:bg-neutral-900 dark:text-neutral-300 dark:hover:bg-neutral-50/5 dark:hover:text-white dark:focus-visible:bg-neutral-50/10 dark:focus-visible:text-white"
                        role="option" x-on:click="setSelectedOption(item)" x-on:keydown.enter="setSelectedOption(item)"
                        x-bind:id="'option-' + index" tabindex="0">
                      <div class="flex flex-row gap-2">
                        <img x-bind:src="item.picture" alt="Avatar" class="h-6 w-6 rounded-full" referrerpolicy="no-referrer">
                        <!-- Label  -->
                        <span x-bind:class="selectedOption == item ? 'font-bold' : null" x-text="item.label"></span>
                      </div>
                      <!-- Checkmark  -->
                      <svg x-cloak x-show="selectedOption == item" xmlns="http://www.w3.org/2000/svg"
                           viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" class="size-4"
                           aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5">
                      </svg>
                    </li>
                  </template>
                </ul>
              </div>
            </div>
          </div>

          <div id="user_perms"
               hx-get="{uri:PermissionController.userPerms}"
               hx-indicator=".htmx-indicator"
               hx-trigger="user_perms"
               hx-include="[name='user_perm_select']"
               hx-target="this"
               hx-swap="innerHTML">

          </div>


          <div id="permission-form-error" hidden="hidden"></div>

          <div class="flex flex-row gap-4 pt-4">
            <button type="submit" class="btn btn-primary"
                    x-bind:disabled="user_selected === ''">
              {m:main.action.modify}
            </button>
            <button type="button" class="btn btn-secondary"
                    @click="$el.closest('dialog').close()">
              {m:main.action.cancel}
            </button>
            <img class="htmx-indicator white-filter" src="/assets/bars.svg" alt="spinner">
          </div>

        </form>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>


</div>