<li id="{item.cardId}"
    class="grid grid-cols-4 items-center gap-2 border-b-2 border-b-black text-center fade-me-out fade-me-in"

>
  <div class="flex flex-row items-center justify-center gap-4 text-center">

    <img src="{item.item.user.picture}" alt="Avatar" class="h-7 w-7 rounded-full" referrerpolicy="no-referrer">

    <img src="{item.item.user.provider.logo}" class="h-7 w-7 rounded-full stroke-current fill-none" alt="{item.item.user.provider}"/>

    <div class="flex flex-col items-center gap-1 text-center">
      <span>{item.item.user.username}</span>
      <span>{item.item.user.email}</span>
      </div>
    </div>

  <span>{item.item.type}</span>

  <span>{item.item.createdAt}</span>

  {#let url=uri:PermissionController.delete(item.key)}
  {#include fragments/delete-btn deleteUrl=url cardIdRef=item.cardIdRef}
  {#extraAttributes}
  hx-include="[name='permission_type_input'],[name='user_input']"
  {/extraAttributes}
  {/include}
  {/let}

</li>