@import 'tailwindcss';

@plugin "daisyui" {
  themes: light, dark, dracula, business, halloween, cupcake, synthwave, pastel, black, night, dim, sunset;
}

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

* {
  font-family: arial, sans-serif;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

select, textarea, input, button {
  font: inherit;
}

textarea, input {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

@media screen and (min-width: 960px) {
  html {
    overflow-x: hidden;
    width: 100vw;
  }

  body {
    padding-right: 0.75rem;
  }

  header {

  }
}


.noYScroll {
  position: fixed;
  overflow-y: scroll;
  width: 100vw;
  overflow-x: scroll;
  padding-right: 0;
}


/*@media screen and (min-width: 960px) {*/
/*  html {*/
/*    !*margin-left: calc(100vw - 100%);*!*/
/*    !*margin-right: 0;*!*/
/*    margin-left: 0;*/
/*    margin-right: calc(-100vw + 100%);*/
/*  }*/
/*}*/

/* Hide scrollbar for Chrome, Safari and Opera */
/**::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

/* Hide scrollbar for IE, Edge and Firefox */
/** {*/
/*  -ms-overflow-style: none;  !* IE and Edge *!*/
/*  scrollbar-width: none;  !* Firefox *!*/
/*}*/

/**[hx-swap] {*/
/*  animation: animate-in 1s ease-in-out;*/
/*}*/

/*@keyframes animate-in {*/
/*  0% {*/
/*    opacity: 0;*/
/*    transform: translateY(10px);*/
/*  }*/
/*  100% {*/
/*    opacity: 1;*/
/*    transform: translateY(0);*/
/*  }*/
/*}*/

/*.text-foreground {*/
/*  color: hsl(var(--foreground));*/
/*}*/


.htmx-indicator {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.htmx-request .htmx-indicator {
  opacity: 1
}

.htmx-request.htmx-indicator {
  opacity: 1
}

.fade-me-out .htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fade-out-element {
  /* Initial styles for the element */
  /* ... */
  transition: opacity 2s ease-out; /* Transition effect for opacity change */
}

.fade-out-element.fade-out {
  opacity: 0; /* Set opacity to 0 for the fade-out effect */
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.fade-me-in.htmx-added {
  opacity: 0;
}

.fade-me-in {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-medium-size {
  width: 80px;
  height: 80px;
}

.datepicker {

}


.error-message {
  color: red;
}

.error input {
  box-shadow: 0 0 3px #CC0000;
}

.valid input {
  box-shadow: 0 0 3px #36cc00;
}


.white-filter {
  filter: invert(100%) sepia(0%) saturate(7472%) hue-rotate(87deg) brightness(97%) contrast(102%);
}

/*#apartment-rows {*/
/*  height: 100vh;*/
/*}*/

.apartment-grid-header {
  display: grid;
  border-bottom: 1px solid black;
  grid-template-rows: auto;
  grid-gap: 4px;
  width: 100%;
  text-align: center;
}

.apartment-grid-header-with-delete {
  grid-template-columns: 1fr 1fr 2fr 3fr 1fr 1fr;
}

.apartment-grid-header-without-delete {
  grid-template-columns: 1fr 1fr 2fr 3fr 1fr;
}

.apartment-grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 3fr 1fr;
  grid-template-rows: auto;
  grid-gap: 4px;
  width: 100%;
}

.apartment-grid-container {
  grid-template-columns: 8fr 1fr;
}

.oicd-token-grid {
  grid-template-columns: repeat(6, 1fr);
}


.base-grid-cm {
  display: grid;
  border-bottom: 1px solid black;
  grid-template-rows: auto;
  grid-gap: 1rem;
  width: 100%;
  text-align: center;
}

.base-grid-cm > * {
  text-align: center;
  margin: auto;
  align-items: center;
  width: 100%;
}

.item-grid-cm {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1rem;
  width: 100%;
  text-align: center;
}

.item-grid-cm > * {
  text-align: center;
  margin: auto;
  align-items: center;
  width: 100%;
}

.extra-charges-grid-header {
  grid-template-columns: 2fr 2fr 3fr 1fr;
}

.extra-charges-grid-item {
  grid-template-columns: 7fr 1fr;
}

.extra-charges-grid-content {
  grid-template-columns: 2fr 2fr 3fr;
}

.expenses-grid-header {
  grid-template-columns: 3fr 2fr 2fr 1fr;
}

.expenses-grid-item {
  grid-template-columns: 7fr 1fr;
}

.expenses-grid-content {
  grid-template-columns: 3fr 2fr 2fr;
}

.reserve-funds-grid-header {
  grid-template-columns: 3fr 2fr 2fr 1fr;
}

.reserve-funds-grid-item {
  grid-template-columns: 8fr 1fr;
}

.reserve-funds-grid-content {
  grid-template-columns: 3fr 2fr 2fr;
}

.debts-grid {
  grid-template-columns: 4fr 1fr 1fr 3fr 1fr;
}

.apt-receipt-dialog-grid {
  grid-template-columns: 2fr 5fr 1fr;
}

.apt-email-dialog-grid {
  grid-template-columns: 5fr 1fr;
}

.month-input-grid {
  grid-template-columns: 4fr 1fr;
}

.receipt-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
  text-align: center;
  align-items: center;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}




.custom-hover {

}


@media (hover: hover) {
  :where(.custom-hover li:not(.custom-hover-title, .disabled) > *:not(ul, details, .custom-hover-title)):not(.active, .btn):hover, :where(.custom-hover li:not(.custom-hover-title, .disabled) > details > summary:not(.custom-hover-title)):not(.active, .btn):hover {
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  @supports (color: oklch(0% 0 0)) {
    :where(.custom-hover li:not(.custom-hover-title, .disabled) > *:not(ul, details, .custom-hover-title)):not(.active, .btn):hover, :where(.custom-hover li:not(.custom-hover-title, .disabled) > details > summary:not(.custom-hover-title)):not(.active, .btn):hover {
      background-color: var(--fallback-bc, oklch(var(--bc)/0.1));
    }
  }
}

.custom-hover li > *:not(ul, .custom-hover-title, details, .btn):active,
.custom-hover li > *:not(ul, .custom-hover-title, details, .btn).active,
.custom-hover li > details > summary:active {
  --tw-bg-opacity: 1;
  background-color: var(--fallback-n, oklch(var(--n)/var(--tw-bg-opacity)));
  --tw-text-opacity: 1;
  color: var(--fallback-nc, oklch(var(--nc)/var(--tw-text-opacity)));
}

@media (hover: hover) {
  .custom-hover li > *:not(ul, .custom-hover-title, details, .btn):active,
  .custom-hover li > *:not(ul, .custom-hover-title, details, .btn).active,
  .custom-hover li > details > summary:active {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-n, oklch(var(--n)/var(--tw-bg-opacity)));
    --tw-text-opacity: 1;
    color: var(--fallback-nc, oklch(var(--nc)/var(--tw-text-opacity)));
  }
}

.custom-hover li.disabled {
  color: var(--fallback-bc, oklch(var(--bc)/0.3));
}

@media (hover: hover) {
  .card-hover > * {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b2, oklch(var(--b2)/var(--tw-bg-opacity)));
  }

  .table .hover\:hover:hovertr:hover,
  .table .hover\:hover:hovertr:nth-child(even):hover {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b2, oklch(var(--b2)/var(--tw-bg-opacity)));
  }

  .table-zebra .hover\:hover:hovertr:hover,
  .table-zebra .hover\:hover:hovertr:nth-child(even):hover {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b3, oklch(var(--b3)/var(--tw-bg-opacity)));
  }
}

progress::-webkit-progress-value {
  transition: width 0.5s;
}

