{#include start }
{#title}Login{/title}
{#moreScripts}
<script>
  let theme = localStorage.getItem('theme');
  if (theme) {
    document.documentElement.setAttribute('data-theme', theme);
  }
  const urlParams = new URLSearchParams(window.location.search);
  const redirectTo = urlParams.get('redirect_to');
  if (redirectTo && redirectTo.length > 1 && redirectTo.startsWith("/")) {
    window.localStorage.setItem('redirect_to', redirectTo);
  }

  window.addEventListener('pageshow', (event) => {
    if (event.persisted) {
      // console.log('This page was restored from the bfcache.');
      window.location.reload();
    } else {
      // console.log('This page was loaded normally.');
    }
  });

</script>
{/moreScripts}

<div class="p-6">
  <fieldset>
    <legend>{m:main.login}</legend>
    <div class="flex flex-col justify-center gap-2 p-2">
      {#for tenant in tenants}
      <a class="btn" href="{uri:RenardeOidcController.loginUsingOidc(tenant)}" role="button">
        {tenant.toUpperCase}
        <img src="/assets/images/signin-{tenant}.svg" class="h-6 w-6 rounded-full stroke-current fill-none" alt="{tenant}"/>
        {/for}
      </a>
    </div>
  </fieldset>
</div>